{% extends 'base.html' %}

{% block content %}
    <h2>New Supplier Data</h2>
    <br>
    <form method="POST" class="purchasedata-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="reset" class="reset btn btn-default">Reset</button>
        <li style="list-style: none;display: inline-block;"><a href="/purchasedata"><button type="button" class="btn btn-default">Cancel</button></a></li>
    </form>
{% endblock %}